[Unit]
Description=Mount sharedss bindfs mounts after reboot

[Service]
Type=forking
ExecStart=/opt/sharedss/mount-after-reboot.sh

[Install]
WantedBy=multi-user.target